@import "@fontsource/sora/400.css";
@import "@fontsource/sora/600.css";
@import "@fontsource/sora/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Sora', sans-serif;
}

/* Multiline clamp utility for truncating text with ellipsis */
.multi-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


